.ispravi-me-container{
    overflow: auto;
    border-width: 0.5px;
    border-style: solid;
    border-color: #0061A6;
    width: 800px;
    height: 300px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.ispravi-me-container:focus{
    border-color: aqua;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #0061A6;
}